@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
.background {
  display: flex;
  align-items: center;
  margin-left: 25%;
}
.nextBtn {
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 54%;
  width: 83px;
  height: 40px;
  cursor: pointer;
  font-family: "Comforter", cursive;
  font-size: 60px;
  background-color: transparent;
  color: black;
}
.sceneImageHolder {
  max-width: 670px;
  max-height: 700px;
  border-radius: 15px;
}
.linkToNextScreen {
  font-family: "Comforter", cursive;
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  color: white;
}

.recipeHolder {
  margin-left: 25%;
  margin-top: 10px;
  p {
    font-family: "Quintessential", cursive !important;
    font-size: 25px;
  }
}
.linkHolder {
  margin-left: 40%;
  margin-top: 10px;
  font-size: 30px !important;
}

//GAME
.game_table {
  width: 1200px !important;
  height: 600px;
  border: 10px solid black;
  border-radius: 15px;
  margin-left: 6%;
  z-index: -1;
  position: absolute;
}

.finished {
  font-family: "Comforter", cursive;
  text-decoration: none;
  cursor: pointer;
  font-size: 80px;
  align-items: center;
  color: black;

}
.link_holder {
    margin-left: 43%;
    margin-top: 10%;
}
.flask {
  z-index: 1;
  width: 450px !important;
  height: 450px !important;
  margin-left: 33%;
}
.object_holder {
    margin-left: 33%; 
}
.linkButton {
    background-color: transparent;
    border: none;
}

//menu
.container_menu {
  display: flex;
  flex-direction: column;
  
}