@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kaku+Gothic+New&display=swap');


.holder {
    background-color: #3D302D;
    padding: 20px;
    max-width: 60%;
    border-radius: 15px;
}

.introduction_text {
    font-size: 18px;
    color: beige; 
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.choice_button {
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    font-size: 18px;
    margin-top: 10px;
    padding: 20px;
    max-width: 65%;
    border-radius: 15px;
    color: beige; 
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color:  #3E2A2C;
}
.choice_button :hover {
    background-color: #332224;
}
///GAME
.object {
    z-index: 1;
    background-color: transparent;
    border: none;
    img {
        width: 100px;
        height: 100px;
    }
}
